<main>
    <heading>
        <div class="background-image">
            <div class="container_text">
                <h1>Relive your favourite memories</h1>
            </div>
        </div>
    </heading>

    <div class="about-supporting">
        <div class="container">
            <h2>No more sorting through photos!</h2>
            <p>Stories automatically finds your best photos and creates a new travelogue. This way you can capture and share your special moments in fresh new ways.</p>
            <button type="button">
            <%= link_to "Sign up!", contact_path(@contact) %>
        </div>
    </div>
</main>