<main>
  <heading>
    <div class="jumbotron">
      <div class="container">
        <h2>Share your stories!</h2> 
        <button type="button">
            <%= link_to "Learn more!", thanks_path(@thanks) %>   
      </div>
    </div>
  </heading>

    <div class="home-supporting">
        <div class="text">
            <h2>Relive and share your adventures</h2>
            <p>Stories automatically creates a digital journal filled with only your best photos.</p>
        </div>
    </div>

    <div>
        <section class="background-image">
        </section>
    </div>

    <div class="discover">
        <h2>Discover Stories!</h2>
        <button type="button">
        <%= link_to "Learn more!", about_path(@about) %>   
    </div>

    <footer>
    
    </footer>
    </main>
